GOOGLE_GENERATIVE_AI_API_KEY=
NEXT_PUBLIC_GOOGLE_GEOLOCATION_API_KEY=
BETTER_AUTH_SECRET=

POSTGRES_CONNECTION_STRING=
POSTGRES_DATABASE_NAME=users

NEXT_PUBLIC_URL_BASE=

COUCHDB_URL_BASE=
COUCHDB_USERNAME=
COUCHDB_PASSWORD=

EMAIL_WHITELIST=