GOOGLE_GENERATIVE_AI_API_KEY=
BETTER_AUTH_SECRET=

POSTGRES_URL_BASE=
POSTGRES_ADMIN_USERNAME=
POSTGRES_ADMIN_PASSWORD=
POSTGRES_DATABASE_NAME=

NEXT_PUBLIC_URL_BASE=

COUCHDB_URL_BASE=
COUCHDB_USERNAME=
COUCHDB_PASSWORD=